# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# TOPPERS files
app_iothub_client/Debug/app_iothub_client.*
app_iothub_client/cfg*_out.*
app_iothub_client/*.timestamp
app_iothub_client/kernel_cfg.*
app_iothub_client/tinet_cfg.*
app_iothub_client/gen
asp3_dcre/Debug/asp.*
asp3_dcre/cfg*_out.*
asp3_dcre/*.timestamp
asp3_dcre/kernel_cfg.*
asp3_dcre/gen
asp3_dcre/Debug/gen
asp3_dcre/offset.h

!.gitkeep

